<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ADDIX COMPOUND</title>

    <!--<base href="http://localhost:63342/addix/index.html?_ijt=g9a7dgm5og8u3an9n742i2nb7d">-->
    <base href="/addix-compound/">

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="apple-touch-icon" sizes="180x180" href="/air-plus/assets/images/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/air-plus/assets/images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/air-plus/assets/images/icons/favicons/favicon-16x16.png">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-fancy-modal/dist/angular-fancy-modal.css"/>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/animate.min.css">


    <!-- endbuild -->
</head>
<body ng-app="addixApp" class="overflow-hidden">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="fullscreen-bg">
    <video muted autoplay poster="videos/videoframe.png" class="fullscreen-bg__video" preload="auto">
        <source src="videos/RZ-ADDIX-Startsequenz-Onepager.mp4" type="video/mp4">
    </video>
</div>

<div class="top-wrapper">
  <a href="http://schwalbe.com/" target="_blank"><img id="logo" src="images/logo.svg"></a>
    <div id="menu-wrapper" class="menu-styling">

        <nav id="menu" class="hidden-xs hidden-sm hidden-md">
            <ul>
                <li id="menu-1"><a href="#section-areas-compounds"><img src="images/menu_1.png"/><span>Compounds</span></a></li>
                <li id="menu-2"><a href="#tire-detail"><img src="images/menu_2.png"/><span translate>nav_2</span></a></li>
                <li id="menu-3"><a href="#section-team"><img src="images/menu_3.png"/><span>R&D</span></a></li>
                <li id="menu-4"><a href="#section-recipe"><img src="images/menu_4.png"/><span translate>nav_4</span></a></li>
                <li id="menu-5"><a href="#video-gripfriend"><img src="images/menu_5.png"/><span>Video</span></a></li>
            </ul>


        </nav>

        <nav class="navbar navbar-inverse navbar-static-top navbar-shrink hidden-lg" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="menu-1_mob">
                            <a class="page-scroll" href="#section-areas-compounds">Compounds</a>
                        </li>
                        <li id="menu-2_mob">
                            <a class="page-scroll" href="#tire-detail"><span translate>nav_2</span></a>
                        </li>
                        <li id="menu-3_mob">
                            <a class="page-scroll" href="#section-team">R&D</a>
                        </li>
                        <li id="menu-4_mob">
                            <a class="page-scroll" href="#section-recipe"><span translate>nav_4</span></a>
                        </li>
                        <li id="menu-5_mob">
                            <a class="page-scroll" href="#video-gripfriend">Video</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>

    <div id="languages">
        <span id="current-language">{{selectedLanguage | uppercase}}<i class="fa fa-angle-down arrow-toogle-down" aria-hidden="true"></i><i class="fa fa-angle-up arrow-toogle-up" aria-hidden="true"></i></span>
        <ul>
            <li ng-repeat="language in languages" ng-click="changeLanguage(language)" value="{{language}}">{{language | uppercase}}
            </li>
        </ul>
    </div>

</div>


<div class="container-fluid" style="    padding-right: 0px;  padding-left: 0px;">

    <div ng-view=""></div>
</div>
<a href="#0" class="cd-top">Top</a>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42978791-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-fancy-modal/dist/angular-fancy-modal.js"></script>
<script src="bower_components/angular-inview/angular-inview.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/contrib/wow.min.js"></script>
<script src="scripts/additionalscripts.js"></script>
<!-- endbuild -->
</body>
</html>
