<section>
    <div ng-switch="area">
        <div ng-switch-when="speed">

            <div class="col-lg-12 col-xs-12 popup-wrapper">
                <div class="col-lg-12">
                <img class="popup-logo" src="images/compounds/addix-compounds-speed.svg"/>
                </div>

                <div id="compounds-graph-mob-speed" class="hidden-sm hidden-md hidden-lg">
                    <a href="images/speed_graph_mob.png" target="_blank">
                        <img ng-if="selectedLanguage=='de'" src="images/speed_graph_mob.png" class="popup-graph" />
                    </a>

                    <a href="images/eng/speed_en_mob.png" target="_blank">
                        <img ng-if="selectedLanguage!='de'" src="images/eng/speed_en_mob.png" class="popup-graph" />
                    </a>
                </div>


                <div id="compounds-graph-desktop-speed" class="hidden-xs">
                    <img ng-if="selectedLanguage=='de'" src="images/speed_graph.png" class="popup-graph" />
                    <img ng-if="selectedLanguage!='de'" src="images/eng/speed_en.png" class="popup-graph" />
                </div>

                <div class="col-lg-6 popup-text">
                <h3 class="rot">XC Race</h3>
                <span class="popup-maintext" translate>popup_speed_text</span>
                </br></br>
                <span class="popup-paragraph" translate>popup_speed_paragraph</span>

                    <div class="table-responsive">
                <table class="table table-inverse popup-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th translate>popup_speed_tablerow1</th>
                        <th translate>popup_speed_tablerow2</th>
                        <th translate>popup_speed_tablerow3</th>
                        <th translate>popup_speed_tablerow4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rot" >
                        <th>ADDIX Speed</th>
                        <th>100%</th>
                        <th>70%</th>
                        <th>65%</th>
                        <th>95%</th>
                    </tr>
                    <tr>
                        <th translate>Reference</th>
                        <th>100%</th>
                        <th>100%</th>
                        <th>100%</th>
                        <th>100%</th>
                    </tr>
                    </tbody>
                </table>
                </div>
                </div>

            </div>
        </div>

        <div ng-switch-when="speedgrip">
            <div class="col-lg-12 popup-wrapper">
                <div class="col-lg-12">
                    <img class="popup-logo" src="images/compounds/addix-compounds-speedgrip.svg"/>
                </div>


                <div id="compounds-graph-mob-speedgrip" class="hidden-sm hidden-md hidden-lg">
                    <a href="images/speedgrip_graph_mob.png" target="_blank">
                        <img ng-if="selectedLanguage=='de'" src="images/speedgrip_graph_mob.png" class="popup-graph" />
                    </a>

                    <a href="images/eng/speedgrip_en_mob.png" target="_blank">
                        <img ng-if="selectedLanguage!='de'" src="images/eng/speedgrip_en_mob.png" class="popup-graph" />
                    </a>
                </div>


                <div id="compounds-graph-desktop-speedgrip" class="hidden-xs">
                    <img ng-if="selectedLanguage=='de'" src="images/speedgrip_graph.png" class="popup-graph" />
                    <img ng-if="selectedLanguage!='de'" src="images/eng/speedgrip_en.png" class="popup-graph" />
                </div>





                <div class="col-lg-6 popup-text">
                    <h3 class="blau">XC / AM / TRAIL</h3>
                    <span class="popup-maintext" translate>popup_speedgrip_text</span>
                    </br></br>
                    <span class="popup-paragraph" translate>popup_speedgrip_paragraph</span>

                    <div class="table-responsive">
                    <table class="table table-inverse popup-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th translate>popup_speed_tablerow1</th>
                            <th translate>popup_speed_tablerow2</th>
                            <th translate>popup_speed_tablerow3</th>
                            <th translate>popup_speed_tablerow4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="blau" >
                            <th>ADDIX SPEEDGRIP</th>
                            <th>90%</th>
                            <th>75%</th>
                            <th>75%</th>
                            <th>100%</th>
                        </tr>
                        <tr>
                            <th translate>Reference</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>

            </div>
        </div>

        <div ng-switch-when="soft">
            <div class="col-lg-12 popup-wrapper">
                <div class="col-lg-12">
                    <img class="popup-logo" src="images/compounds/addix-compounds-soft.svg"/>
                </div>



                <div id="compounds-graph-mob-soft" class="hidden-sm hidden-md hidden-lg">
                    <a href="images/soft_graph_mob.png" target="_blank">
                        <img ng-if="selectedLanguage=='de'" src="images/soft_graph_mob.png" class="popup-graph" />
                    </a>

                    <a href="images/eng/soft_en_mob.png" target="_blank">
                        <img ng-if="selectedLanguage!='de'" src="images/eng/soft_en_mob.png" class="popup-graph" />
                    </a>
                </div>


                <div id="compounds-graph-desktop-soft" class="hidden-xs">
                    <img ng-if="selectedLanguage=='de'" src="images/soft_graph.png" class="popup-graph" />
                    <img ng-if="selectedLanguage!='de'" src="images/eng/soft_en.png" class="popup-graph" />
                </div>


                <div class="col-lg-6 popup-text">
                    <h3 class="orange">ENDURO / DOWNHILL</h3>
                    <span class="popup-maintext" translate>popup_soft_text</span>
                    </br></br>
                    <span class="popup-paragraph" translate>popup_soft_paragraph</span>

                    <div class="table-responsive">
                    <table class="table table-inverse popup-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th translate>popup_speed_tablerow1</th>
                            <th translate>popup_speed_tablerow2</th>
                            <th translate>popup_speed_tablerow3</th>
                            <th translate>popup_speed_tablerow4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="orange">
                            <th>ADDIX SOFT</th>
                            <th>80%</th>
                            <th>85%</th>
                            <th>85%</th>
                            <th>80%</th>
                        </tr>
                        <tr>
                            <th translate>Reference</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>

            </div>
        </div>

        <div ng-switch-when="ultra_soft">
            <div class="col-lg-12 popup-wrapper">
                <div class="col-lg-12">
                    <img class="popup-logo" src="images/compounds/addix-compounds-ultrasoft.svg"/>
                </div>


                <div id="compounds-graph-mob-ultrasoft" class="hidden-sm hidden-md hidden-lg">
                    <a href="images/ultrasoft_graph_mob.png" target="_blank">
                        <img ng-if="selectedLanguage=='de'" src="images/ultrasoft_graph_mob.png" class="popup-graph" />
                    </a>

                    <a href="images/eng/ultrasoft_en_mob.png" target="_blank">
                        <img ng-if="selectedLanguage!='de'" src="images/eng/ultrasoft_en_mob.png" class="popup-graph" />
                    </a>
                </div>


                <div id="compounds-graph-desktop-ultrasoft" class="hidden-xs">
                    <img ng-if="selectedLanguage=='de'" src="images/ultrasoft_graph.png" class="popup-graph" />
                    <img ng-if="selectedLanguage!='de'" src="images/eng/ultrasoft_en.png" class="popup-graph" />
                </div>




                <div class="col-lg-6 popup-text " >
                    <h3 class="lila">ENDURO / DOWNHILL</h3>
                    <span class="popup-maintext" translate>popup_ultra_soft_text</span>
                    </br></br>
                    <span class="popup-paragraph" translate>popup_ultra_soft_paragraph</span>

            <div class="table-responsive">
                    <table class="table table-inverse popup-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th translate>popup_speed_tablerow1</th>
                            <th translate>popup_speed_tablerow2</th>
                            <th translate>popup_speed_tablerow3</th>
                            <th translate>popup_speed_tablerow4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="lila">
                            <th>ADDIX ULTRA SOFT </th>
                            <th>70%</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>60%</th>
                        </tr>
                        <tr>
                            <th translate>Reference</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                            <th>100%</th>
                        </tr>
                        </tbody>
                    </table>
            </div>


                </div>

            </div>
        </div>

    </div>
</section>