<section class="section" id="section-start">

    <img src="images/bg_std.jpg" style="visibility: hidden;width:100%;" />
    <div class="text" style="    text-shadow: 3px 3px #000000;">

        <h1 translate>Intro_headline</h1>
        <ul>
            <li translate>start_li1</li>
            <li translate>start_li2</li>
        </ul>


    </div>

    <div class="arrow_down arrow-down-pulse">
        <a href="#section-areas-compounds"><img src="images/btn_arrow_down.png" /></a>
    </div>

    <!--<div class="arrow-down arrow-down-pulse">
        <a href="#section-areas"><img src="images/btn_arrow_down.png" /></a>
    </div>-->
</section>

<section class="section" id="section-tire">
    <div id="flags">
        <ul>
            <li><img class="flag-img" src="images/flag_speed.jpg"/></li>
            <li><img class="flag-img" src="images/flag_speedgrip.jpg"/></li>
            <li><img class="flag-img" src="images/flag_soft.jpg"/></li>
            <li><img class="flag-img" src="images/flag_ultrasoft.jpg"/></li>
        </ul>
    </div>
    <div in-view="flagsMoveDown()"></div>
    <div id="tire">
        <div id="section-areas-compounds"></div>
        <img src="images/tire.png"/>
    </div>

</section>

<section class="section" id="section-areas">
    <img src="images/bg_areas.jpg" style="visibility: hidden;width:100%"; />
    <div class="wrapper-sections">
        <div class="addix-header">
            <img src="images/addix_header_compounds.svg"/>
        </div>
        <div id="areas">
            <div id="speed" ng-click="clickArea('speed')"><img src="images/area_speed.svg"/></div>
            <div ng-click="clickArea('speedgrip')"><img src="images/area_speedgrip.svg"/></div>
            <div ng-click="clickArea('soft')"><img src="images/area_soft.svg"/></div>
            <div ng-click="clickArea('ultra_soft')"><img src="images/area_ultra_soft.svg"/></div>
        </div>

    </div>
</section>

<section class="section section-img-bike-rider"  >
    <div id="tire-detail"></div>
    <img src="images/bg_img_bike_rider.jpg" style="width:100%"; />
</section>

<section class="section" id="section-tire-detail">
    <div class="addix-header">
        <img ng-if="selectedLanguage=='de'" src="images/addix_header_evotire.svg"/>
        <img ng-if="selectedLanguage!='de'" src="images/eng/tires.svg"/>
    </div>

        <div id="tire-wrapper">
            <div  class="tire-element wow bounceInUp" item-init ng-repeat="tire in allTire | limitTo : tireLimit">
                <ul>
                    <li ng-repeat="compound in tire.compounds">


                        <div ng-switch="compound">
                            <div ng-switch-when="speed">
                                <img ng-click="clickArea('speed')" class="tire-compounds-img" class="tire-img" ng-src="images/compounds/{{compound}}.png"/>
                            </div>

                            <div ng-switch-when="speedgrip">
                                <img ng-click="clickArea('speedgrip')" class="tire-compounds-img" class="tire-img" ng-src="images/compounds/{{compound}}.png"/>
                            </div>

                            <div ng-switch-when="soft">
                                <img ng-click="clickArea('soft')" class="tire-compounds-img" class="tire-img" ng-src="images/compounds/{{compound}}.png"/>
                            </div>

                            <div ng-switch-when="ultrasoft">
                                <img ng-click="clickArea('ultra_soft')" class="tire-compounds-img" class="tire-img" ng-src="images/compounds/{{compound}}.png"/>
                            </div>
                        </div>

                        </li>
                </ul>
                <img ng-click="clickTire(tire)" class="tire-title " ng-src="{{tire.title}}"/>
                <img ng-click="clickTire(tire)" class="tire-img" ng-src="{{tire.img}}"/>
            </div>
            <div id="load-more-tire" ng-click="loadMoreTire()">
                <span id="load-more-text" class="btn-load-more" ><span class="btn-load-more-text"><img src="{{ 'all_tire' | translate }}" ></span><i class="fa fa-angle-down arrow-toogle-down fa-2x" aria-hidden="true"></i><i class="fa fa-angle-up arrow-toogle-up fa-2x" aria-hidden="true"></i></span>
                <!--<img src="images/tire/all_tire.png"/>-->
            </div>
        </div>
</section>


<section class="section section-img-bike-rider ">
    <img src="images/bg_img_bike_rider_2.jpg" style="width:100%"; />
</section>

<section class="section" id="section-table">

        <div class="addix-header">
            <img ng-if="selectedLanguage=='de'" src="images/addix_header_overview.svg"/>
            <img ng-if="selectedLanguage!='de'" src="images/eng/overview.svg"/>
        </div>
        <div id="addix-overview-table">

            <div id="tire-table-mobile" class="hidden-lg">
                <a href="images/addix_overview_table_img_update.png" target="_blank">
                    <img src="images/addix_overview_table_img_update.png" style="width:100%"; alt="Tire overview table" />
                </a>
            </div>


            <div class="tire-table-wrapper table-responsive hidden-xs hidden-sm hidden-md " >

            <table class="table table-inverse detail-table hidden-xs hidden-sm">
                <thead>
                <tr class="thick-row-top thick-row-bottom">
                    <th class=" diagonal-line" colspan="2"><span class="heahline">Tire</span><span class="heahline heahline2">Compound</span</th>
                    <th> <span class="thin-text" >XC Race</span> <img class="compounds-speed-img-soft  " src="images/compounds/addix-compounds-speed.svg"/></th>
                    <th> <span class="thin-text" >XC / AM / Trail</span> <img class="compounds-speed-img-table"     src="images/compounds/addix-compounds-speedgrip.svg"/></th>
                    <th> <span class="thin-text" > Enduro / Downhill</span> <img class="img-table-compound" src="images/compounds/addix-compounds-soft.svg"/></th>
                    <th style="border-right: none;"> <span class="thin-text" >Enduro / Downhill</span> <img class="img-table-compound" src="images/compounds/addix-compounds-ultrasoft.svg"/></th>
                </tr>
                </thead>
                <tbody>
            <tr class="thick-row-top">
                    <td class="heahline" rowspan="1" >Eddy Current <span class="thin-text-rows">FRONT</span></td>
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td> </td> 
                </tr>
                <tr class="thin-row-bottom" >
                    <td class="heahline" rowspan="q" > <span style="padding-right: 0.7em;float: right;" class="thin-text-rows">REAR</span></td> 
                    <td class="thin-text" >SUPER GRAVITY</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td> </td>
                </tr>
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="3" >Magic Mary</td>
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149;</td>
                    <td > </td>
                </tr>
                <tr>
                    <td class="thin-text" >SUPER GRAVITY</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td class="highlight-cell highlight-lila"> &#149; </td>
                </tr> 
                 <tr class="thin-row-bottom">
                    <td class="thin-text" >SUPER DOWNHILL</td>
                    <td> </td>
                    <td> </td>
                    <td>  </td>
                  <td class="highlight-cell highlight-lila"> &#149; </td>
                </tr> 
                <tr class="thick-row-top">
                    <td  class="heahline" rowspan="3" >Big Betty</td>
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td>  </td>

                </tr>
                <tr  >
                    <td class="thin-text" >SUPER GRAVITY</td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td >  </td>
                </tr>
                <tr class="thin-row-bottom" >
                    <td class="thin-text" >SUPER DOWNHILL</td>
                    <td> </td>
                    <td> </td>
                    <td > </td>
                    <td class="highlight-cell highlight-lila"> &#149; </td>
                </tr>
                <tr class="thick-row-top">
                    <td  class="heahline" rowspan="2" >Dirty Dan</td>
                    <td class="thin-text" >SUPER GRAVITY</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-lila"> &#149; </td>

                </tr>
                <tr class="thin-row-bottom" >
                    <td class="thin-text" >SUPER DOWNHILL</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="highlight-cell highlight-lila"> &#149; </td>
                </tr>
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Hans Dampf</td>
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td> </td>


                </tr>
                <tr class="thin-row-bottom" >
                        <td class="thin-text" >SUPER GRAVITY</td>
                        <td> </td>
                        <td> </td>
                        <td class="highlight-cell highlight-orange"> &#149; </td>
                        <td> </td>
                    </tr>

            
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Rock Razor</td>
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td> </td>
                    <td> </td>

                </tr> 
                   <tr class="thin-row-bottom">
                    <td class="thin-text" >SUPER GRAVITY</td>
                    <td> </td>
                    <td > </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                  <td> </td>
                </tr> 
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Nobby Nic</td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td > </td>
                    <td> </td>

                </tr>
                <tr class="thin-row-bottom" >
                    <td class="thin-text" >SUPER TRAIL</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td class="highlight-cell highlight-orange"> &#149; </td>
                    <td> </td>
                </tr>
                <tr class="thick-row-top" >
                    <td class="heahline" rowspan="2" >Rocket Ron</td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td class="highlight-cell highlight-rot"> &#149; </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td> </td>
                    <td> </td> 
                </tr>
               
                <tr class="thin-row-bottom" >
                    <td class="thin-text" >SUPER RACE</td>
                    <td class="highlight-cell highlight-rot"> &#149;</td>
                    <td > </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Racing Ralph</td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td class="highlight-cell highlight-rot"> &#149; </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>

                </tr> 
                <tr class="thin-row-bottom" >
                    <td class="thin-text" >SUPER RACE</td>
                    <td class="highlight-cell highlight-rot"> &#149;</td>
                    <td > </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Racing Ray</td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td> </td>
                    <td> </td>
    
                    </tr> 

                    <tr class="thin-row-bottom" >
                        <td class="thin-text" >SUPER RACE</td>
                        <td class="highlight-cell highlight-rot"> &#149;</td>
                        <td > </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                <tr class="thick-row-top">
                    <td class="heahline" rowspan="2" >Thunder Burt</td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td class="highlight-cell highlight-rot"> &#149; </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr class="thin-row-bottom">
                    <td class="thin-text" >SUPER RACE</td>
                    <td class="highlight-cell highlight-rot"> &#149; </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr class="thick-row-top thick-row-bottom">
                    <td class="heahline thick-row-bottom" rowspan="1" >Jumbo Jim </td>
                    <td class="thin-text" >SUPER GROUND</td>
                    <td> </td>
                    <td class="highlight-cell highlight-blau"> &#149; </td>
                    <td> </td>
                    <td> </td>
                </tr>
               
          
              
                </tbody>
            </table>

        </div>
            <div class="col-lg-12 flex-column" style="padding-left:0px;">
                <image src="images/addix_performance2x.png"/>
                <h3 translate>popup_preformance_text</h3>
                <span translate>popup_preformance_paragraph</span></div>

        </div>
</section>
<div id="section-team"></div>

<section id="section-img-team" class="section">
    <img src="images/bg_rd.jpg"/>
</section>

<section class="section" id="section-team-interviews">
    <div class="lead-wrapper" id="lead-develop">
        <img class="wow zoomIn" src="images/lead_developer.png"/>
        <div class="interview-content col-xs-12">
            <h1 translate>main_developer_title</h1>
            <span translate>main_developer_text</span>
            <div class="interview-text">
                <br>
                <ul>
                    <li class="question" translate>main_developer_interview_question_1</li>
                    <li class="answer" translate>main_developer_interview_answer_1</li>
                    <li class="question" translate>main_developer_interview_question_2</li>
                    <li class="answer" translate>main_developer_interview_answer_2</li>
                    <li class="question" translate>main_developer_interview_question_3</li>
                    <li class="answer" translate>main_developer_interview_answer_3</li>
                </ul>
            </div>
            <div class="btn-interview-wrapper" ng-click="loadInterview('#lead-develop')">
                <img src="images/btn_interview.png"/>
                <span class="btn-load-more" ><span class="btn-load-more-text">{{ 'to_interview' | translate }}</span><i class="fa fa-angle-down arrow-toogle-down fa-2x" aria-hidden="true"></i><i class="fa fa-angle-up arrow-toogle-up fa-2x" aria-hidden="true"></i> </span>


            </div>
        </div>

    </div>

    <div style="display:none;" class="lead-wrapper" id="lead-compounder">

        <div class="interview-content">
            <h1 translate>main_compounder_title</h1>
            <span translate>main_compounder_text</span>
            <div class="interview-text">
                <br>
                <ul>
                    <li class="question" translate>main_compounder_interview_question_1</li>
                    <li class="answer" translate>main_compounder_interview_answer_1</li>
                    <li class="question" translate>main_compounder_interview_question_2</li>
                    <li class="answer" translate>main_compounder_interview_answer_2</li>
                    <li class="question" translate>main_compounder_interview_question_3</li>
                    <li class="answer" translate>main_compounder_interview_answer_3</li>
                </ul>
            </div>
            <div class="btn-interview-wrapper" ng-click="loadInterview('#lead-compounder')">
                <img src="images/btn_interview.png"/>
                <span class="btn-load-more" ><span class="btn-load-more-text">{{ 'to_interview' | translate }}</span><i class="fa fa-angle-down arrow-toogle-down fa-2x" aria-hidden="true"></i><i class="fa fa-angle-up arrow-toogle-up fa-2x" aria-hidden="true"></i> </span>

            </div>
        </div>
        <img class="wow zoomIn" src="images/lead_compounder.png"/>
    </div>


</section>

<section class="section col-xs-12" id="section-recipe">
    <img id="bg-img-recipe" src="images/bg_recipe.png"/>
    <div id="recipe-header">
        <img ng-if="selectedLanguage=='de'" src="images/addix_header_recipe.svg"/>
        <img ng-if="selectedLanguage!='de'" src="images/eng/formula.svg"/>


    </div>
    <div id="recipe-text" translate>recipe_text</div>
    <img id="bg-strip-top" src="images/bg_strip_top.png"/>
</section>

<section class="section" id="section-grip-friend-video">
    <div id="header-grip-friend">
        <img id="video-gripfriend" src="images/grip_is_your_friend.png"/>
    </div>
    <!--<video id="video-grip-friend" controls poster="images/video_grip_placeholder.jpg">
        <source src="https://vimeo.com/205846974" type="video/mp4">
    </video>-->

    <div class='embed-container'>
        <iframe src='https://player.vimeo.com/video/205846974' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <img id="bg-strip-bottom" src="images/bg_strip_bottom.png"/>

</section>

<section class="section" >
    <nav class="footer-menu">
         <ul>
            <li id="menu-1"><a href="https://www.schwalbe.com/de/kontakt-123.html" translate>footer_kontakt</a></li>
            <li id="menu-2"><a href="https://www.schwalbe.com/de/kundenservice-121.html" translate>footer_service</a></li>
            <li id="menu-3"><a href="https://www.schwalbe.com/de/impressum.html" translate>footer_impressum</a></li>
            <li id="menu-4"><a href="https://www.schwalbe.com/files/schwalbe/userupload/PDF/AGB_DE.pdf" translate>footer_agb</a></li>
            <li id="menu-5"><a href="https://www.schwalbe.com/de/datenschutz.html" translate>footer_Datenschutz</a></li>
        </ul>


    </nav>
</section>