<section>
            <div class="col-lg-12 popup-wrapper">
                <div class="col-lg-4 tire-popup-title-wrapper">
                    <img class="tire-popup-title" ng-src="{{data.title}}"/>

                    <ul class="badge-ui">
                        <li ng-repeat="compound in data.compounds" ng-click="clickArea('{{compound}}')"  ><img   class="tire-badge" ng-src="images/compounds/{{compound}}.svg"/></li>
                    </ul>

                </div>
                <img  class="tire-popup-img" ng-src="{{data.img}}"/>

            </div>

            <div class="col-lg-4 tire-popup-text">
                <h3 class="tire-popup-title" >{{ 'popup_tire_'+data.name+'_title' | translate }}</h3>

                <span class="popup-paragraph" >{{ 'popup_tire_'+data.name+'_text' | translate }}</span>
                </br></br>
                <span class="popup-paragraph" >{{ 'popup_tire_'+data.name+'_paragraph_1' | translate }}</span></br ng-hide="('popup_tire_'+data.name+'_paragraph_1'| translate)  == '' ">
                <span class="popup-paragraph" >{{ 'popup_tire_'+data.name+'_paragraph_2' | translate }}</span></br ng-hide="('popup_tire_'+data.name+'_paragraph_2'| translate)  == '' ">
                <span class="popup-paragraph" >{{ 'popup_tire_'+data.name+'_paragraph_3' | translate }}</span></br ng-hide="('popup_tire_'+data.name+'_paragraph_3'| translate)  == '' ">
                <span class="popup-paragraph" >{{ 'popup_tire_'+data.name+'_paragraph_4' | translate }}</span></br ng-hide="('popup_tire_'+data.name+'_paragraph_4'| translate)  == '' ">
                </br> 
                <ul>
                    <li class="popup-paragraph" ng-hide="('popup_tire_'+data.name+'_table_1'| translate)  == '' ">{{ 'popup_tire_'+data.name+'_table_1' | translate }}</li>
                    <li class="popup-paragraph" ng-hide="('popup_tire_'+data.name+'_table_2'| translate) == ''  ">{{ 'popup_tire_'+data.name+'_table_2' | translate }}</li>
                    <li class="popup-paragraph" ng-hide="('popup_tire_'+data.name+'_table_3'| translate ) == '' ">{{ 'popup_tire_'+data.name+'_table_3' | translate }}</li>
                    <li class="popup-paragraph" ng-hide="('popup_tire_'+data.name+'_table_4'| translate ) == '' ">{{ 'popup_tire_'+data.name+'_table_4' | translate }}</li>
                </ul>
                </br>

                <!--<a class="popup-more-link" target="_blank" ng-if='data.link!="_"' href="{{data.link}}" >{{ 'popup_more' | translate }} ></a>-->


                <a ng-show="data.link" class="popup-more-link" target="_blank" href="{{'https://www.schwalbe.com/'+selectedLanguage+data.link}}" >{{ 'popup_more' | translate }} ></a>


            </div>
</section>