html {
    -webkit-text-size-adjust: none
}


body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

ul, li {
    margin: 0;
    padding: 0;
}

.overflow-hidden {
    overflow: hidden;
}

/* Fonts */

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/OpenSans-ExtraBoldItalic.eot') format('eot');
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
         url('../fonts/OpenSans-LightItalic.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
         url('../fonts/OpenSans-LightItalic.eot') format('eot');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf') format('opentype'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.eot') format('eot');
}



.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: #000;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: translate(0, -50%);
}

#menu-wrapper {
    position: relative;
    width: 100%;
}

.top-wrapper {
    box-shadow: inset 0px 0px 10px #888;
}

@media (max-width: 1199px) {
    .top-wrapper {
        z-index: 400;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 59px;
        -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
    }
}

#menu {
    width: 80%;
    display: block;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    z-index: 500;
    left: 25%;
}

@media (max-width: 1024px) {
    #menu {
        width: 75%;
        top: 2%;
        right: 0;
        height: auto;
        left: 28%;
    }

}

@media (max-width: 767px) {
    #menu {
        width: 65%;
        top: 1%;
        right: 0;
        height: auto;
        left: 30%;
    }
}

#menu ul {
    list-style-type: none;
    margin: 0 0 0 0;
}

@media (max-width: 1024px) {
    #menu ul {
        list-style-type: none;
        margin: 0 0 0 5%;
    }
}

@media (max-width: 767px) {
    #menu ul {
        list-style-type: none;
        margin: 0 0 0 0;
    }
}

#menu ul li {
    height: 100px;
    width: 15%;
    font-size: 14px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}

@media (max-width: 1280px) {
    #menu ul li {
        width: 16%;
    }
}

@media (max-width: 1024px) {
    #menu ul li {
        height: auto;
        width: auto;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    #menu ul li {
        height: 20px;
        width: auto;
        padding: 10px;
    }
}

#menu ul li:hover {
    transform: translate(0, 5px) scale(1.05, 1.05);
}

#menu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -25%);
    /* width: 100%; */
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    font-style: oblique;
    font-weight: 900;
}

/*@-moz-document url-prefix() {
    #menu ul li a {
        font-family: "Helvetica Neue", Arial, Sans-Serif;
    }
}*/

#menu ul li a span {
    position: absolute;
    width: 125px;
    top: 27px;
    left: 29px;
}

@media (max-width: 1280px) {
    #menu ul li a span {
        top: 25px;
        left: 20px;
    }
}

#menu ul li a span:before {
    content: url(../images/addix_logo.svg) ' ';
}

#menu ul li a span:after {
    content: ' >';
}

@media (max-width: 768px) {
    #menu ul li a {
        position: static;
        font-size: 12px;
    }
}

#menu #menu-1 img,
#menu #menu-2 img,
#menu #menu-3 img,
#menu #menu-4 img,
#menu #menu-5 img {
    height: 90px;

}

@media (max-width: 1280px) {
    #menu #menu-1 img,
    #menu #menu-2 img,
    #menu #menu-3 img,
    #menu #menu-4 img,
    #menu #menu-5 img {
        height: 80px;
    }
}

@media (max-width: 1024px) {
    #menu #menu-1 img,
    #menu #menu-2 img,
    #menu #menu-3 img,
    #menu #menu-4 img,
    #menu #menu-5 img {
        height: 69px;

    }
}

#menu #menu-1 img {
}

#menu #menu-2 img {
}

#menu #menu-3 img {
}

#menu #menu-4 span {
    left: 18px;
}

@media (max-width: 1280px) {
    #menu #menu-4 span {
        left: 8px;
    }
}


#menu #menu-5 span {
    left: 23px;
}

@media (max-width: 1280px) {
    #menu #menu-5 span {
        left: 12px;
    }
}

.menu-styling {

}

#logo {
    position: fixed;
    left: 10%;
    width: 8%;
    z-index: 999;
}

@media (max-width: 1199px) {
    #logo {
        width: 10%;
        top: -3%;
        left: 111px;
        -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
        z-index: 1111;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}


@media (max-width: 1024px) {
    #logo {
        width: 18%;
        top: -6%;
        left: 80px;
        -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
        z-index: 1111;
    }
}

@media (max-width: 767px) {
    #logo {
        width: 20%;
        top: -15px;
        left: 70px;
        -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);
        z-index: 1111;
    }

}

#languages {
    position: fixed;
    right: 2%;
    width: 8%;
    z-index: 999;
    top: 8%;
    font-size: 19px;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
    color: #7b7c7e;
}

#languages .fa {
    font-size: 29px;
    font-weight: 200;
    cursor: pointer;
    color: #7b7c7e;
    margin-left: 5px;
}

.arrow-toogle-up {
    visibility: hidden;
    display: none !important;
}

.open .arrow-toogle-up {
    visibility: visible !important;
    display: initial !important;
}

.open .arrow-toogle-down {
    visibility: hidden;
    display: none;
}

@media (max-width: 1199px) {
    #languages {
        left: 2%;
        right: 0;
        top: 3%;
        font-size: 18px;
        z-index: 1000;
        width: 20%;
    }
}

@media (max-width: 767px) {
    #languages {
        top: 2.3%;
        left: 3%;
        z-index: 1111;
    }
}

#languages #current-language {
}

#languages ul {
    list-style: none;
    display: none;
}

#languages ul li {
    transition: 0.3s ease-in-out;
}

#languages ul li:hover {
    transform: translate(7px, 0);
}

.container-fluid {
    overflow: hidden
}

.section {
    width: 100%;
    position: relative;
    height: inherit;
}

#section-video {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    overflow: hidden
}

#section-video video {
}

#section-start {
    background-image: url("../images/bg_std.jpg");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 2;
}

@media (max-width: 1024px) {
    #section-start {
        background-size: 163%;
        height: 700px;
    }
}

@media (max-width: 768px) {
    #section-start {
        background-size: 163%;
        height: 700px;
    }
}

@media (max-width: 767px) {
    #section-start {
        background-size: 255%;
        height: 530px;
    }
}


#section-start .text {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 30px;
    left:50%;
    background: rgba(0,0,0,0.28);
    box-shadow: 0 0 40px 11px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0 40px 11px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 40px 11px rgba(0,0,0,0.35);
}



.text-mobile{
    margin-left: 0!important;
}

@media (max-width: 1024px) {
    #section-start .text {
        width: 73%;
    }
}

@media (max-width: 768px) {
    #section-start .text {
        width: 75%;
    }
}

@media (max-width: 600px) {
    #section-start .text {
        width: 72%;
        left:20%;
    }
}

#section-start .text div {
    margin: 0px auto;
}

#section-start .text h1 {
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    #section-start .text h1 {
        font-size: 25px;
    }
}

#section-start p {
    font-family: OpenSans-LightItalic, Sans-Serif;
}

@media (max-width: 768px) {
    #section-start p {
        font-size: 15px;
    }
}

#section-start .text span {
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
}

#section-start ul {
    list-style-position: outside;
}

#section-start li {
    list-style-image: url('../images/arrow-dots.png');
}

#section-start li:before {
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #section-start .text h1,
    #section-start p,
    #section-start .text span {
        font-style: oblique;
    }
}


@media (max-width: 992px) {
    #section-start br {
        display: none;
    }
}

#section-tire #tire {
    width: 100%;
    text-align: center;
}

#section-tire #tire img {
    width: 100%;
}

@media (max-width: 768px) {
    #section-tire #tire img {
        width: 155%;
        margin-left: -25%;
    }
}

#section-tire #flags {
    text-align: center;
    width: 100%;
}

#section-tire #flags ul {
    overflow: hidden;
}

#section-tire #flags ul li {
    display: inline;
    padding: 0 4%;
}

#section-tire #flags ul li img {
    width: 6%;
    transform: translate(0, -100%);
    transition: 0.5s ease-in-out;
}

@media (max-width: 1024px) {
    #section-tire #flags ul li img {
        width: 13%;
    }
}

.translate-null {
    transform: translate(0, 0) !important;
}

#section-areas {
    background-image: url("../images/bg_areas.jpg");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

#section-areas .addix-header {
    margin-bottom: 5%;
}

@media (max-width: 767px) {
    #section-areas .addix-header {
        margin: 10% 0 5%;
    }
    #section-areas {
        background-size: 133% 100%;
    }
}


#section-areas #areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #section-areas #areas {
        width: 82%;
        margin-top: 7%;    }
}

#section-areas #areas div {
    width: 45%;
    float: left;
    margin: 0 2.5% 5% 2.5%;
    cursor: pointer;
    display: inline;
}

@-moz-document url-prefix() {
    #section-areas #areas div {
        padding: 22px;
    }
}

#section-areas #areas div img {
    width: 80%;
    transition: all 0.5s linear;
}

#section-areas #areas div img:hover {
    transform: scale(1.05, 1.05);
}

.fancymodal {
}

.fancymodal .img-area-speed-chart {
    right: 0;
    position: absolute;
    width: 75%
}

.fancymodal .img-area-speed-text {
    left: 10%;
    bottom: 5%;
    position: absolute;
    width: 50%;
}

#section-img-bike-rider {
}

#section-areas #wrapper-areas {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
}

#section-tire-detail {
    margin-top: 5%;
}

#section-tire-detail #tire-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#section-tire-detail #tire-wrapper .tire-img {
    width: 40%;
    cursor: pointer;
}

@media (max-width: 768px) {
    #section-tire-detail #tire-wrapper .tire-img {
        margin-left: -130px;
    }
}

#section-tire-detail #tire-wrapper .tire-title {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    transition: all 0.2s linear;
    cursor: pointer;
}

@media (max-width: 768px) {
    #section-tire-detail #tire-wrapper .tire-title {
        width: 95%;
        margin-top: 5%;
    }
}

#section-tire-detail #tire-wrapper ul {
    position: absolute;
    bottom: 0;
    right: 3%;
}

@media (max-width: 768px) {
    #section-tire-detail #tire-wrapper ul {
        right: -20%;
    }
}

#section-tire-detail #tire-wrapper ul li {
    list-style: none;
    padding: 4% 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#section-tire-detail #tire-wrapper ul li:hover {
    transform: translate(7px, 0);
}

#section-tire-detail #tire-wrapper ul li .tire-compounds-img {

}

#section-tire-detail #tire-wrapper > * {
    width: 45%;
    margin: 30px 10px;
    text-align: center;
    position: relative;
}

#section-tire-detail #tire-wrapper #load-more-tire {
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
    width: 100%;
    margin: 6% 0 7%;
}

#section-tire-detail #tire-wrapper #load-more-tire img {
}

#section-table {
    margin-top: 5%
}

#section-table .flex-column{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;

}

@media (min-width: 768px) {
    #section-table .flex-column {
        margin-left: 210px;
    }
}
#section-table .flex-column span{
    width: 50%;
}
@media (max-width: 767px) {
    #section-table .flex-column span{
        width: 100%;
    }
}
#section-table #addix-overview-table .flex-column img{
    width: 100px;

}
@media (max-width: 767px) {
    #section-table #addix-overview-table .flex-column img{

        width: 80px;

    }
}
#section-table #addix-overview-table {

}

#section-table #addix-overview-table img {
        width: 60%;
}

#section-img-team {
}

#section-img-team img {
    width: 100%;
}

#section-team-interviews {
    background-image: url("../images/bg_interviews.png");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}

#section-team-interviews .lead-wrapper {
    padding: 4% 10% 2% 13%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 82%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #section-team-interviews .lead-wrapper {
        padding: 4% 5% 2% 5%;
        width: 100%;
    }
}

#section-team-interviews .interview-content {
    width: 65%;
}

@media (max-width: 767px) {
    #section-team-interviews .interview-content {
        width: 100%;
        margin-top: 3%;
        padding: 0;
    }
}

#section-team-interviews .lead-wrapper img {
    width: 35%;
    padding: 0 5% 5% 0;
}

@-moz-document url-prefix() {
    #section-team-interviews .lead-wrapper img {
        padding: 0;
        width: 300px;
    }
    #section-team-interviews .lead-wrapper h1 {
        margin-top: 40px !important;
    }
    #section-team-interviews .interview-content {
        padding-left: 35px;
    }
    .btn-interview-wrapper .btn-load-more {
        font-weight: initial;
        font-style: normal;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    #section-team-interviews .lead-wrapper img {
        width: 80%;
        padding: 0 5% 5% 0;
    }
}

#section-team-interviews .lead-wrapper h1 {
    padding-bottom: 2%;
    clear: right;
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
    margin-top: 0;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    #section-team-interviews .lead-wrapper h1 {
        font-size: 20px;
    }
}

#section-team-interviews .lead-wrapper span {
    clear: right;
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #section-team-interviews .lead-wrapper h1 {
        font-style: oblique;
    }
    #section-team-interviews .lead-wrapper span {
        font-style: oblique;
    }
}



#section-team-interviews .btn-interview-wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding-right: 10%;
    transition: all 0.2s linear;
    margin-top: 3%;
}

#section-team-interviews .btn-interview-wrapper img {
    padding: 0;
}

.btn-load-more {
    position: absolute;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    padding-right: 10%
}

#tire-wrapper .btn-load-more {
    padding-right: 0 !important;
}

@media (max-width: 768px) {
    .btn-load-more {
        left: 0;
        transform: translate(0, -50%);
    }
}

#load-more-tire:hover,
.btn-interview-wrapper:hover,
.tire-title {
    transform: scale(1.10, 1.10);
}


#section-team-interviews .btn-interview-wrapper img {
    min-width: 220px;
    max-width: 45%;
    width: 45%;
}

#section-team-interviews .interview-text {
    display: none;
}

#section-team-interviews .interview-text ul .question {
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
    /*list-style-image: url(../images/arrow-dots.png);*/
    /*font-style: italic;
    font-weight:bold;*/
    margin-bottom: 2%;
    list-style-image: url(../images/arrow-dots.png);
}

#section-team-interviews .interview-text ul .answer {
    font-family: OpenSans-LightItalic, Sans-Serif;
    list-style: none;
    /*font-style: italic;*/
    margin-bottom: 2%;
    margin-top: 10px;
    color: #c8c8ca;
    font-size: 13px;
}

@media (max-width: 992px) {
    #section-team-interviews span br {
        display: none;
    }
}

#section-recipe #bg-img-recipe {
    width: 100%;
}

#section-recipe #recipe-header {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

#section-recipe #recipe-header img {
    width: 30%;
}

@media (max-width: 767px) {
    #section-recipe #recipe-header img {
        width: 60%;
    }
}

#section-recipe #recipe-text {
    width: 43%;
    margin: 0 auto;
    margin-top: 3%;
    font-style: italic;
    font-size: 120%;
    font-family: OpenSans-LightItalic, Sans-Serif;
    color: #c8c8ca;
}

@media (max-width: 1024px) {
    #section-recipe #recipe-text {
        width: 80%;
        font-size: 100%;
    }
}

@media (max-width: 767px) {
    #section-recipe #recipe-text {
        width: 100%;
        font-size: 100%;
    }
}

#section-recipe #bg-strip-top {
    width: 100%;
    margin-top: 3%;
}

@media (max-width: 767px) {
    #section-recipe #bg-strip-top {
        width: 100%;
        margin-top: 5%;
    }
}

#section-grip-friend-video {
    margin-top: 2%;
}

#section-grip-friend-video #header-grip-friend {
    width: 100%;
    text-align: center;
}

#section-grip-friend-video #header-grip-friend img {
    width: 30%;
}

@media (max-width: 767px) {
    #section-grip-friend-video #header-grip-friend img {
        width: 80%;
        margin-top: 4%;
    }
}

#section-grip-friend-video #video-grip-friend {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 3%
}

#section-grip-friend-video #bg-strip-bottom {
    width: 100%;
    margin-top: 3%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* allgemein */
.arrow-down {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    cursor: pointer
}

.arrow_down {
    position: fixed;
    bottom: 3%;
    left: 50%;
}

@media (min-height: 1200px) {
    .arrow_down {
        display: none;
    }

}

.static-arrow-top {
    position: fixed;
    right: 2%;
    cursor: pointer;
    z-index: 1;
    transform: translate(0, -50%);
    top: 50%;
}

.wrapper-sections {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
}

@media (max-width: 1024px) {
    #section-areas {
        height: 500px;
    }
    #section-areas {

        background-size: 117% 100%;

    }

    .wrapper-sections {
        top: 12%;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 767px) {
    #section-areas .addix-header {
        margin: 10% 0 5%;
    }
    #section-areas {
        background-size: 133% 100%;
    }
    #section-areas {
        height: 270px;
    }

    .wrapper-sections {
        top: 2%;
    }
}

.addix-header {
    width: 100%;
    text-align: center;
}

.addix-header img {
    width: 26%;
}

@media (max-width: 1024px) {
    .addix-header img {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .addix-header img {
        width: 60%;
    }
}

/* Overwrite Modal CSS */
.fancymodal .fancymodal-content {
    max-width: 80% !important;
    position: relative;
    /* min-height: 800px; */
    min-height: 865px;
    background-color: #000;
    color: #fff
}

@media (max-width: 767px) {
    /*#section-areas #areas{width: 80%;}*/
    .fancymodal .fancymodal-content {
        max-width: 90% !important;
    }
}

.arrow-down-pulse {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-iteration-count: 10;
    animation-duration: 2s;
}

@media (max-width: 1024px) {
    .arrow-down-pulse {
        display: none;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 800px) {
    .fullscreen-bg {
        display: none;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

@media (max-width: 1300px) {

}

@media (max-width: 1024px) {
    #section-tire-detail #tire-wrapper > * {
        width: 60%;
        margin: 10px 0 15%;
    }
}

@media (max-width: 767px) {
    #section-tire-detail #tire-wrapper > * {
        width: 70%;
        margin: 6% 5%;
        clear: both;
    }
    #section-tire-detail #tire-wrapper {
        width: 90%;
        margin: 5%;
    }

    #section-tire-detail #tire-wrapper .tire-img {
        /* margin-left: -130px; */
        width: 82%;
        margin-left: -64%;
    }

    #section-tire-detail #tire-wrapper ul {
        right: 30%;
        /* left: 0; */
        width: 10%;
        /* margin-right: 6%; */
    }
    #section-tire-detail #tire-wrapper ul li {
        padding: 13% 0;
    }
}

@media (max-width: 320px) {
    #section-tire-detail #tire-wrapper ul {
        right: 36%;
    }
}

.tire-element {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.tire-element.visible {
    opacity: 1;
}

.tire-table-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 4%;
}

.detail-table {
    border: none;
}

.detail-table > thead > tr > th {
    height: 130px;
    text-align: center;

}

.detail-table > thead > tr > th:first-child {
    text-align: initial;

}

.detail-table > tbody > tr > td {
    border-top: dotted 1px;
}

.detail-table .img-table-compound {
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.detail-table .highlight-cell {
    text-align: center;
    font-weight: 800;
    font-size: 42px;
    padding: 0px;
    line-height: 37px;
}

.detail-table .highlight-lila {
    background: #89568C;
}

.detail-table .highlight-rot {
    background: #D0353B;
}

.detail-table .highlight-blau {
    background: #2E95D6;
}

.detail-table .highlight-orange {
    background: #EA560C;
}

.detail-table .thick-row {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.detail-table .thick-row-top {
    border-top: 5px solid #fff;
}

.detail-table .thick-row-bottom {
    border-bottom: 5px solid #fff;
}

.detail-table .thin-row-bottom {
    border-bottom: 2px solid #fff;
}

.detail-table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-right: 2px #fff solid;
    padding: 7px;
}

.detail-table > tbody > tr > td:last-child, .detail-table > thead > tr > td:last-child {
    border-right: none;
}

.detail-table .heahline {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 0px;
    text-align: initial;
    padding-right: 0px;
    vertical-align: inherit;
}

.detail-table .diagonal-line {
    background: linear-gradient(to left bottom, #000000 0%, #000000 49.9%, #ffffff 50%, #ffffff 51%, #000000 51.1%, #000000 100%);
    min-width: 320px;
}

.detail-table .thin-text {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 400;
    display: block;

}

.thin-text-rows {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    display: inline;
}

#tire-table-mobile {
    margin: 6% 4%;
}

span.heahline.heahline2 {
    float: right;
    margin-top: -90px;
    margin-right: 72px;
}

.popup-wrapper {
    padding: 40px;
}

@media (max-width: 1024px) {
    .popup-wrapper {
        padding: 40px 0;
    }
}


@media (max-width: 767px) {
    .popup-wrapper {
        padding: 40px 0 10px;
    }
}

.popup-logo {
    width: 200px;
    vertical-align: top;
}

.popup-graph {
    width: 70%;
    position: absolute;
    right: 0px;
    max-height: 884px;
    max-width: 1020px;
}

.popup-text {
    margin-top: 22%;
}

.popup-text h3 {
    font-size: 19px;
}

.popup-text .rot {
    color: #e4032c;
}

.popup-text .blau {
    color: #009ee0;
}

.popup-text .lila {
    color: #9d418e;
}

.popup-text .orange {
    color: #eb690b;
}

.popup-text .popup-maintext {
    font-size: 13px;
}

.popup-text .popup-paragraph, .tire-popup-text .popup-paragraph {
    font-style: italic;
    margin-top: 10px;
    color: #c8c8ca;
    font-size: 13px;
}

.popup-text .popup-table {
    border-top: #7b7c7e solid 2px;
    border-bottom: #7b7c7e solid 2px;
    border-left: none;
    border-right: none;
    margin-top: 20px;
}

.popup-table thead {
    color: #7b7c7e;
}

.popup-table > tbody > tr > th, .popup-table > thead > tr > th {
    border-bottom: dashed 1px #7b7c7e;
    border-right: dashed 1px #7b7c7e;
    border-top: none;
    font-size: 14px;
    font-weight: 400;
    height: 15px;
    line-height: 12px;
    text-align: right;
}

.popup-table > tbody > tr > th:first-child {
    text-align: left;
}

.popup-table > tbody > tr > th:last-child, .popup-table > thead > tr > th:last-child {
    border-bottom: dashed 1px #7b7c7e;
    border-right: none;
}

.popup-table > tbody > tr {
    color: #bcc600;
}

.popup-table > tbody > tr:first-child {

}

@media (max-width: 1182px) {
    .popup-graph {
        position: relative;
        margin: 4%;
        width: 80%;
    }

    .popup-text {
        margin-top: 5%;
    }
}

@media (max-width: 484px) {
    .popup-graph {
        position: relative;
        margin: 4%;
        width: 100%;
    }

    .popup-text {
        margin-top: 5%;
    }

    .fullscreen-bg {
        display: none;
    }

    .tire-popup-img {
        left: 26%;
        top: 100px;
        width: 100%;
        /* margin-top: 9%; */
        /* margin-bottom: 5%; */
        position: initial;
    }

    .tire-popup-text {
        position: initial !important;
        right: 0px;
        bottom: 90px;
    }


    .tire-popup-title {
        width: 111%
    }
}


.compounds-speed-img-table {
    width: 81%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.compounds-speed-img-soft {
    width: 84%;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 484px) {
    .detail-table .diagonal-line {
        background: linear-gradient(to left bottom, #000000 0%, #000000 49.9%, #ffffff 50%, #ffffff 51%, #000000 51.1%, #000000 100%);
        min-width: 180px;
    }

    .detail-table .heahline {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 10px;
        padding-left: 0px;
        text-align: initial;
        padding-right: 0px;
        vertical-align: inherit;
    }

    .detail-table .thin-text {
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 11px;
        /* padding-left: 15px; */
        font-weight: 400;
        display: block;
    }

    .thin-text-rows {
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 11px;
        /* padding-left: 15px; */
        font-weight: 400;
        display: block;
    }

    .detail-table .img-table-compound {
        width: 53%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .tire-table-wrapper {
        width: 100%;
    }

    .compounds-speed-img-table {
        width: 74%;
    }

    .compounds-speed-img-soft {
        width: 102%;
    }
}

.fancymodal .fancymodal-close:before {
    border-radius: 3px;
    position: absolute;
    content: "\00D7";
    font-size: 57px;
    line-height: 30px;
    height: 53px;
    width: 57px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #626263;
    font-weight: 300;
}

.fancymodal .fancymodal-close:hover:before,
.fancymodal .fancymodal-close:active:before {
    color: #777;
    background: none;
}

.tire-badge {
    width: 150px;
    margin-top: 15px;

}

.badge-ui li {
    list-style: none;
    margin-left: 15px;
}

@media (max-width: 1024px) {
    .badge-ui {
        list-style: none;
        margin-left: -77%;
    }
}

@media (max-width: 767px) {
    .tire-badge {
        width: 100px;
        margin-top: 15px;
        margin-left: 30px;
    }
}

.tire-popup-img {
    position: absolute;
    left: 26%;
    top: 100px;
    height:  550px;
}

@media (max-width: 767px) {
    .tire-popup-img {
        position: initial;
        height:  330px;
    }
}

.tire-popup-text {
    position: absolute;
    right: 0px;
    bottom: 90px;
}


.tire-popup-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.tire-popup-title-wrapper {
    text-align: center;
}

.popup-more-link {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
}

.btn-load-more-text {
    margin: 7px;
    vertical-align: super;
    font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
}



#load-more-tire .btn-load-more-text {
    margin: -77px;
}


@media (max-width: 1024px) {
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 0 0 10%;
    }
}

@media (max-width: 767px) {
    #load-more-tire .btn-load-more-text img {
        width: 250px;
    }
    #load-more-tire .btn-load-more-text {
        margin: -60px;
    }
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 0 0 12%;
    }
}

@media (max-width: 414px) {
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 18% 0 12%;
    }
}

.footer-menu {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.footer-menu ul li {
    display: inline;
    list-style: none;
    margin-left: 10px;
}

.footer-menu ul li a {
    color: #c8c8ca;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 400;
    font-style: italic;
}

/* --------------------------------

Back 2 Top

-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* --------------------------------

Main components

-------------------------------- */
header {
    background: #5c4751;
    height: 100px;
    text-align: center;
}

header h1 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.6em;
    margin-bottom: .2em;
}

header p {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #957484;
}

@media only screen and (min-width: 1024px) {
    header {
        height: 200px;
    }

    header h1 {
        font-size: 30px;
        font-size: 1.875rem;
        padding-top: 2.6em;
    }
}

main p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
    margin: 2em 0;
}

@media only screen and (min-width: 1024px) {
    main p {
        font-size: 20px;
        font-size: 1.25rem;
    }
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.0) url(../images/btn_arrow_top.png) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* Burger-Menü */

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 61px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.8);

}

.navbar-toggle {
    margin-top: 15px;
}

@media (max-width: 1200px) {
    .navbar-toggle {
        display: block;
    }
}

.navbar-collapse {
    border-top: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 1.7em;
    font-weight: 300;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

@media (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .navbar-nav {
        margin: 0 auto;
        padding: 10% 0 6% 0;
        text-align: center;
        float: none !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 16px;
        text-transform: uppercase;
        font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
    }

    .nav > li > a > img {
        /*max-width: 150px; */
        max-width: 80px;
        float: left;
    }

    .nav li {
        display: inline;
        color: white;
        float: none;
        text-align: center;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 8px;
    }

    .navbar-header {
        float: right;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0 auto;
        padding: 25% 0 10% 25%;
        text-align: center;
        width: 100%;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 16px;
        text-transform: uppercase;
        font-family: OpenSans-ExtraBoldItalic, Sans-Serif;
    }

    .nav > li > a > img {
        /*max-width: 150px; */
        max-width: 80px;
        float: left;
    }

    .nav li {
        display: inline;
        color: white;
        float: none;
        text-align: center;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 8px;
    }

    .navbar-header {
        float: right;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .navbar-inverse .navbar-nav > li > a {
        font-style: oblique;
    }
}

.zentriert {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}




@media only screen
and (min-device-width : 569px)
and (max-device-width : 667px)
and (orientation : landscape) {
    #section-start {
        background-size: 100%;
        height: auto;
    }
    #section-start .text {
        position: absolute;
        /* top: 38%; */
        top: 85%;
        left: 1%;
        /* right: -18%; */
        width: 80%;
    }
    #logo {
        width: 16%;
        top: -15px;
        left: 88px;
    }
    #section-areas {
        height: 500px;
    }
    .tire-popup-img {
        position: absolute;
        left: 45%;
        top: 40%;
        width: 55%;
    }
    #load-more-tire .btn-load-more {
        left: 0;
        transform: translate(0, -25%);
    }
    .navbar-nav {
        margin: 0 auto;
        padding: 18% 0 10% 10%;
        text-align: center;
        width: 100%;
    }
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 7% 0 14%;
    }
}

@media only screen
and (min-device-width : 400px)
and (max-device-width : 568px)
and (orientation : landscape) {
    #section-start {
        background-size: 100%;
        height: auto;
    }
    #section-start .text {
        position: absolute;
        top: 44%;
        width: 73%;
    }
    #logo {
        width: 16%;
        top: -15px;
        left: 88px;
    }
    #section-areas {
        height: 500px;
    }
    .tire-popup-img {
        position: absolute;
        left: 45%;
        top: 40%;
        width: 55%;
    }
    #load-more-tire .btn-load-more {
        left: 0;
        transform: translate(0, -25%);
    }
    .navbar-nav {
        margin: 0 auto;
        padding: 18% 0 10% 10%;
        text-align: center;
        width: 100%;
    }
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 7% 0 14%;
    }
}

@-moz-document url-prefix() {
    .detail-table > thead > tr > th {
        width: 20%;
    }
    #section-tire-detail #tire-wrapper #load-more-tire {
        margin: 100px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .navbar-nav {
        padding: 12% 0 0 0;
    }
}

@media (min-width: 1200px) {
    .tire-popup-text {
        bottom: 210px;
    }
}


td {
    white-space: nowrap;
}

td.heahline:first-child {
    padding-right: 20px;
}